#about {
  background-color: #fff;
  height: 100%
}

#about h3 {
  height: 50px;
  color: #37424f;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'HelveticaBold', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

article {
  display: grid;
  padding: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "."
    ".";
}

article img {
  height: 140px;
  margin: auto;
  padding: 10px;
}

article p {
  text-align: center;
  margin: 20px;
  font-family: 'HelveticaRegular', sans-serif;
  line-height: 140%;
}

article p > strong {
  font-weight: bold;
  font-family: 'HelveticaBold', sans-serif;
}

@media (min-width: 444px) {
  article {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". .";
  }
  article img {
    height: 175px;
    padding: 0;
  }
}



@media (min-width: 992px) {
  article img {
    height: 175px;
  }
}