.thank-you {
  height: 900px;
}

.thank-you h1 {
  text-align: center;
  color: #37424f;
  font-family: 'HelveticaRegular', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 50px;
  box-sizing: border-box;
}

.thank-you p {
  text-align: center;
  color: #37424f;
  font-family: 'HelveticaRegular', sans-serif;
  padding: 10px 0 50px 0;
  box-sizing: border-box;
}